.AM {
  padding: 4rem;
  background: #fff;

}

.AM__container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    box-shadow: inset 0 0 0 10px rgba(41, 45, 61, 0.5);
  object-fit: contain;
  position: relative;
}

.AM__wrapper {
  position:relative;
  margin: 50px 0 45px;
  align-items:center;
}
