p {
  font-size: 18px;
  font-family: "RobotoSlab";
}

.AM__pad {
  margin-bottom: -10px;
}


.ProfileStyle {
  border-radius: 20%;
  float: left;
  padding-right: 30px;
}

.AM {
  padding-top: 4rem;
  background: #1b1e29AA;
  width: 100vw;
}

.AM__container{
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:left;
  object-fit: contain;
  position: relative;
}

.AM__wrapper {
  position:relative;
  top: 0;
  left: 0;
  margin: 0px 30px 50px;
  align-items: left;
}

.AM__title {
  width: 100%;
  height: 70%;
  display:flex;
  flex-flow: row;
  justify-content: space-around;
  text-align: left;
}

.AM__title img {
  height: 80%;
  width: 16vw;
  max-width: 10em;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 20%;
}

.AM__title img:first-child {
  text-align: left;
}

.AM__title img:last-child {
  text-align: right;
}
