:root {

  --color-main: #292d3d;
  --color-accent: #1b1e29;

  --color-text: #abbde5;
  --color-text-home: #bfd2ff;
  --color-text-header: #abbde5;
  --color-text-bright: #bfd2ff;
  --color-text-placeholder: #7881a1;

  --color-input-background: rgba(57, 63, 84, 0.8);

  --navbar-height: 54px;

}

html {
  box-sizing: border-box;
  font-size: 10px;
}

input {
  border-style: none;
  background: transparent;
  outline: none;
}

.container {
  max-width: 1140px;
  min-width: 1140px;
}

.background {
  background-color: var(--color-main);
}

.navbar {
  height: var(--navbar-height);
  z-index: 1;
}

.navbar-color {
  background-color: var(--color-accent);
}

.navbar-inner {
  height: 100%;
}

.navbar-home {
  padding-left: 20px;
  padding-right: 20px;
  float:left;
  height: 100%;
  display: table;
  overflow: hidden;
}

.navbar-item {
  padding-left: 20px;
  padding-right: 20px;
  float:left;
  height: 100%;
  display: table;
  overflow: hidden;
}

.navbar-text-home {
  text-decoration: none;
  font-size: 24px;
  color: var(--color-text-home);
  display: table-cell;
  vertical-align: middle;
  font-family: 'RobotoSlab', serif;
}

.navbar-text-item {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-text-header);
  display: table-cell;
  vertical-align: middle;
  font-family: 'RobotoSlab', serif;
}

.navbar-item:hover {
  background-color: var(--color-main);
}

.navbar-home:hover {
  background-color: var(--color-main);
}

.center-outer {
  width:100%
}

.center-inner {
  width: 100%;
}

.full-height {
  height: calc(100vh - var(--navbar-height));
}

.spacer-30 {
  height: 09vh;
}

.form-spacer {
  min-height: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
